@page
@model RazorPagesMovie.Pages.IndexModel

@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row g-4">

        @foreach (var movie in Model.Movies)
        {
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card h-100 shadow-sm bg-primary">

                    <div class="card-body">

                        <div class="row fw-bold mb-2">

                            <div class="col-2">
                                @movie.Rank
                            </div>

                            <div class="col-6 text-center">
                                @movie.Title
                            </div>

                            <div class="col-4 text-end">
                                @movie.Price.ToString("C")
                            </div>

                        </div>

                        <div class="text-center mb-2">
                            <img src="@movie.ImageUri"
                                 alt="@movie.Title"
                                 class="img-fluid"
                                 style="max-height:300px;" />
                        </div>

                        <div>@movie.ReleaseDate.ToShortDateString()</div>
                        <div>@movie.Genre</div>

                        <div class="mt-3">
                            <a asp-page="/MovieDetails" asp-route-id="@movie.Id" class="btn btn-secondary btn-sm">
                                Details
                            </a>
                        </div>

                    </div>

                </div>

            </div>
        }

    </div>
</div>