@page "{id:int?}"
@model RazorPagesMovie.Pages.Details2Model

@{
    ViewData["Title"] = "Movie Details";
}

<h1>Movie Details</h1>

<div>
    <h4>Movie</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            Rank
        </dt>
        <dd class="col-sm-10">
            @Model.Movie.Rank
        </dd>

        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            @Model.Movie.Title
        </dd>

        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @Model.Movie.Price.ToString("C")
        </dd>

        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Movie.ImageUri"
                 alt="@Model.Movie.Title"
                 class="img-fluid"
                 style="max-height:300px;" />
        </dd>

        <dt class="col-sm-2">
            Release Date
        </dt>
        <dd class="col-sm-10">
            @Model.Movie.ReleaseDate.ToShortDateString()
        </dd>

        <dt class="col-sm-2">
            Genre
        </dt>
        <dd class="col-sm-10">
            @Model.Movie.Genre
        </dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-page="/Index" class="btn btn-secondary">Back</a>
    <button class="btn btn-primary">Add to Cart</button>
</div>